<app-header></app-header>
<div class="profile-container">
    <div class="profile-header">
      <div class="profile-avatar">
        <img src="assets\6596121.png" alt="{{ user?.firstName }} {{ user?.lastName }}">
      </div>
      <div class="profile-info">
        <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
        <p>{{ user?.email }}</p>
        <button class="edit-profile-btn" (click)="editProfile()">Edit Profile</button>
      </div>
    </div>
  
    <div class="profile-tabs">
      <button [ngClass]="{active: selectedTab === 'personalInformation'}" (click)="selectTab('personalInformation')">Personal information</button>
      <button [ngClass]="{active: selectedTab === 'orders'}" (click)="selectTab('orders')">Orders</button>
      <button [ngClass]="{active: selectedTab === 'settings'}" (click)="selectTab('settings')">Settings</button>
    </div>
  
    <div class="profile-content">
      <div *ngIf="selectedTab === 'personalInformation'">
        <h3>Shipping address</h3>
        <p>Country: {{ user?.shippingAddress?.country }}</p>
        <p>City: {{ user?.shippingAddress?.city }}</p>
        <p>Street: {{ user?.shippingAddress?.street }}</p>
        <p>Street number: {{ user?.shippingAddress?.number }}</p>
        <p>Postal code: {{ user?.shippingAddress?.postalCode }}</p>
        <br>
        <p>Phone number: {{ user?.phoneNumber }}</p>
      </div>
      <div *ngIf="selectedTab === 'orders'">
        <h3>Order history</h3>
       
      </div>
      <div *ngIf="selectedTab === 'settings'">
        
        <button class="logout-btn" (click)="logout()">Logout  <i class="fas fa-arrow-right-from-bracket"></i></button>
      </div>
    </div>
</div>
  
