.order-details-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.order-header, .order-status, .order-items, .order-summary, .order-actions {
    margin-bottom: 20px;
}

.order-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.order-header p {
    margin: 5px 0;
    color: #555;
}

.order-summary {
    border-top: 1px solid gray;
}

.order-items h2, .order-summary h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.order-item {
    display: flex;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.item-details h3 {
    margin: 0;
    font-size: 18px;
}

.item-details p {
    margin: 2px 0;
    color: #777;
}

.order-summary h3 {
    font-size: 22px;
    color: #333;
}

.order-actions {
    display: flex;
    justify-content: space-between;
}

.cancel-order-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #cc1515b5;
    color: white;
    font-size: 16px;
}

.cancel-order-btn:hover{
    opacity: 0.5;
}

.sent-order-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.803);
    color: white;
    font-size: 16px;
  }
  
  .sent-order-btn:hover{
    opacity: 0.5;
  }

  .deliver-order-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(81, 206, 139);
    color: white;
    font-size: 16px;
  }
  
  .deliver-order-btn:hover{
    opacity: 0.5;
  }


.status-processing {
    color: orange;
}
  
.status-sent {
    color: blue;
}
  
.status-delivered {
    color: green;
}
  
.status-cancelled {
    color: red;
}